@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,400;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,400;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,700;1,800&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,400;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,700;1,800&family=Ultra&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #000!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
    font-family: 'poppins';
}

#top_header {
    background: #000;
    color: #fff;
    font-size: 13px !important;
    font-family: 'poppins' !important;
    text-transform: capitalize;
    padding: 20px;
}

ul {
    list-style: none !important;
    padding-left: 0 !important;
}

li,
a {
    text-transform: capitalize;
}

.dropdown {
    position: relative;
}

#dropdown {
    position: absolute;
    left: 0 !important;
    display: none;
}

a.nav-link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: white;
    height: 6%;
    overflow: hidden;
    clear: both;
    transition: 1s;
}

a.nav-link:hover:after {
    width: 100%;
    color: aliceblue !important;
}

a.nav-link {
    color: #fff;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}

#header {
    background-image: url(../img/header-img.png);
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
}

.description {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 25%;
    top: 50%;
    font-family: 'Ultra', serif;
}

.description h1 {
    font-family: 'Poppins';
}

.description h1 {
    font-size: 42px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

#about_us {
    position: relative;
    padding: 20px;
}

#about_us span {
    color: rgb(255, 60, 0);
    font-family: 'Poppins' !important;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
}


/* #about_us span:after {
                        content: '';
                        width: 98%;
                        height: 11%;
                        background-color: red;
                        position: absolute;
                        left: 0;
                        bottom: -3px
                    } */

#about_us h2 {
    font-size: 23px;
    font-family: 'poppins';
    font-weight: 600;
    padding: 20px 0;
    text-transform: capitalize;
}

#about_us p {
    padding: 0 0 30px 0;
}

a.btn_custom {
    text-decoration: none;
    padding: 20px;
    color: #fff;
    background: #020b54;
}

#counter {
    width: 100%;
    height: 200px;
}

.counter-box {
    background-color: #020b54;
    width: 100%;
    text-align: center;
    height: 100px;
    position: relative;
    height: auto;
    z-index: 100;
    text-align: center;
    padding: 22px!important;
    font-size: 23px;
    padding-left: 30px;
    color: #fff;
    transition: 1s;
}

.counter-box:hover {
    transform: translateY(-10%);
}

.counter-box h3 {
    font-size: 15px;
}

.server {
    text-transform: capitalize;
}

#our_services h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding: 20px 0;
}

#our_services h2 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(353deg, #ff4d00b8, #8988b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#our_services img {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px cornflowerblue;
    width: 61px;
}

.bg_custom {
    background: #020b54;
    padding: 24px;
    border-radius: 10px;
}

#our_services {
    transition: 1s;
}

.service1 {
    border: 4px solid #fff;
    padding: 36px 0 0 0;
    text-align: center;
    color: #fff;
    height: 263px;
    color: #ffffff;
    transition: 1s;
}

.service1 h4 {
    color: #a05f5a!important;
    font-weight: 600;
    padding: 25px 0 3px 0;
}

p {
    color: #fff!important;
}

.service1:hover {
    background-color: #020b54;
    color: #fff;
}

h4.service1:hover {
    color: #fff!important;
}

#newsletter {
    background-color: #020b54;
    width: 100%;
    text-transform: uppercase;
}

#newsletter h2 {
    text-transform: uppercase;
    background: linear-gradient(40deg, #f33332, rgb(223, 173, 173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Abril Fatface', cursive;
}

#newsletter input {
    padding: 14px;
}

.btn_custom {
    color: #fff;
    padding: 11px 30px 16px 30px;
    background: black;
    border: navajowhite;
    margin-top: 1rem;
}

.open_menu {
    display: none;
}

.close_icon {
    display: none;
    z-index: 1;
    /* background: red; */
    position: absolute;
    right: 10px;
    font-size: 28px;
    top: 0;
}